.side-container {
  flex: 1;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: -1;
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .side-menu-container {
    margin-top: 60px;
  }
}
